doctype html

html(lang="en")
	head
		title Speed
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.core.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.default.css')
		link(rel='stylesheet', href='static/stylesheets/style.css')
	body
		p hello

		block javascript
		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type="text/javascript" src='/socket.io/socket.io.js')
		script(type="text/javascript" src="static/javascript/ZeroClipboard.min.js")
		script(type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(type="text/javascript" src='static/javascript/alertify.min.js')
		script(type="text/javascript" src='static/javascript/frontend.js')

