extends base

block content
	.container(id="main-content")
		.row
			.col-xs-1
			#board.col-xs-7
				table.center-table
				.form-group(id="room-url")
					label(for="shareUrl").control-label.share-label
						| Invite URL:
					.shareLink
						input(id="shareURL" style="display:inline-block;" type='text', data-room=share, name='shareUrl', value=shareURL ReadOnly).form-control
						//input.button.send(style="float:none; display:inline-block;" type='button', value='COPY')
						//span(id="clipboard-wrapper" rel="tooltip" data-toggle="tooltip" data-placement="right" title="CLICK ME TO COPY !")
							i(class="fa fa-square fa-stack-2x")
						span(id="copy-clipboard" class="fa-stack fa-lg" data-clipboard-target="shareURL")
							i(class="fa fa-square fa-stack-2x")
							i(class="fa fa-clipboard fa-stack-1x" style="color:#fff")
			.col-xs-3
				.p2-status(style="")
					i(class="fa fa-circle")
					span &nbsp;OFFLINE
				.p1-score
					span 0
				.p2-score
					span 0
				.controls
					#content
					input.field(type="text")
					input.button.send(id="send_message" type='button', value='Send')
					